<form xmlns:th="http://www.thymeleaf.org" class="form-search col-md-12" style="margin-top: -100px;" action="#" th:action="@{/search}"
      th:object="${searchQueryParams}">
    <div class="row  align-items-end">
        <div class="col-md-3">
            <label for="list-types">Listing Types</label>
            <div class="select-wrap">
                <span class="icon icon-arrow_drop_down"></span>
                <select th:field="*{type}" name="list-types" id="list-types"
                        class="form-control d-block rounded-0">
                    <option th:selected="selected" th:value="null">All</option>
                    <option th:each="pt : ${propertyTypes}" th:value="${pt[0]}"
                            th:text="${pt[0] +' (' + pt[1] + ')'}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <label for="offer-types">Offer Type</label>
            <div class="select-wrap">
                <span class="icon icon-arrow_drop_down"></span>
                <select th:field="*{action}" name="offer-types" id="offer-types"
                        class="form-control d-block rounded-0">
                    <option th:selected="selected" th:value="null">All</option>
                    <option th:value="sale">For Sale</option>
                    <option th:value="rent">For Rent</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <label for="select-city">Select City</label>
            <div class="select-wrap">
                <span class="icon icon-arrow_drop_down"></span>
                <select th:field="*{city}" name="select-city" id="select-city"
                        class="form-control d-block rounded-0">
                    <option th:selected="selected" th:value="null">All</option>
                    <option th:each="c : ${cities}" th:value="${c[0]}"
                            th:text="${c[0] + ' (' + c[1] +')'}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <input type="submit" class="btn btn-success text-white btn-block rounded-0" value="Search">
        </div>
    </div>
</form>