<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head"></head>
<body>

<div class="site-loader"></div>
<div class="site-wrap">
    <div th:replace="/_agent-top-nav"></div>


    <div class="site-section site-section-sm bg-dark pb-0 ">
        <div class="site-section site-section-title pb-1 ">
        </div>
    </div>
    <div class="site-section site-section-sm pb-2">

        <div class="container">
            <h2 class="m-6" th:text="'Upload photos to property id:'  + ${property.id}"></h2>
            <div class="row justify-content-center">
                <form action="#" th:action="@{/uploadPhotos(id=${property.id})}"  method="POST"
                      enctype="multipart/form-data" class="form col-6">
                    <div>
                        <div class="form-group text-left">
<!--                            <div th:each="f ,stat: ${list}">-->
<!--                                <label th:if="${stat.index}==0" th:for="'f'+ ${stat.index}" th:text="'Main Photo'"></label>-->
<!--                                <label th:if="${stat.index}!=0" th:for="'f'+ ${stat.index}" th:text="'Photo#' + ${stat.index}"></label>-->

<!--                                <input type="file" th:id="'f'+ ${stat.index}" th:name="'file'+${stat.index}"-->
<!--                                       th:value="*{list[__${stat.index}__]}"/>-->
                                <input type="file" name="file" />



                                <!--                                                            <span class="invalid-feedback" th:if="${#fields.hasErrors(${list[${iter}]})}"-->
                                <!--                                                                  th:errors="*{f}"></span>-->

<!--                            </div>-->
                        </div>


                        <div>
                            <input type="submit" value="Upload all" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <footer th:replace="_footer"></footer>
</div>

<div th:replace="_scripts"></div>


</body>
</html>