<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head"></head>
<body>

<div class="site-loader"></div>
<div class="site-wrap">
    <div th:replace="/_agent-top-nav"></div>


    <div class="site-section site-section-sm bg-dark pb-0 ">
        <div class="site-section site-section-title pb-1 ">
        </div>
    </div>
    <div class="site-section site-section-sm pb-2">

        <div class="container">
            <h4 class="m-6" th:text="'Upload photos to property id:'  + ${propertyId}"></h4>
            <h4 class="m-6" th:text="'Uploaded ' + ${imageCnt} + ' of 10.'"></h4>
            <div class="row justify-content-center">
                <form action="#" th:action="@{/upload(id=${propertyId})}" method="POST"
                      enctype="multipart/form-data" class="form col-6">
                    <div>
                        <div th:if="${imageCnt<10}" class="form-group text-left">
                            <label th:if="${imageCnt == 0}" th:text="'Main image min size( add-ad.html1223x600 px) #' + ${imageCnt + 1}"></label>
                            <label th:text="'Select image #' + ${imageCnt + 1}"></label>
                            <input type="file" th:id="'f'" th:name="'file'"/>
                            <input type="submit" value="Add" class="btn btn-primary float-right">
                        </div>
                        <h2 th:if="${imageCnt>=10}">You added 10 images.</h2>
                        <div>
                            <a th:href="@{/myAd/{n} (n=${#request.userPrincipal.name}) }" class="btn btn-primary">To
                                dashboard</a>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${imageCnt>0}" class="row no-gutters mt-5">
                <div class="col-12">
                    <h2 class="h4 text-black mb-3">Gallery</h2>
                </div>
                <div th:each="img, iter: ${images}" class="col-sm-6 col-md-4 col-lg-3">
                    <a th:href="@{/deleteImage(imgid = ${img.getFilename()},propid = ${propertyId})}"
                       class="gal-item">
                        <img th:src="@{/images/property/{filename} (filename = (${img.filename} + ${img.extension}))}"
                             alt="Image"
                             class="img-fluid">Delete</a>
                </div>

            </div>

        </div>

    </div>


    <footer th:replace="_footer"></footer>
</div>

<div th:replace="_scripts"></div>


</body>
</html>