<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head"></head>
<body>

<div class="site-loader"></div>
<div class="site-wrap">
    <div th:replace="/_top-nav"></div>

    <div class="site-section site-section-sm bg-info ">
        <div class="site-section site-section-title bg-info ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="card bg-light">
                        <article class="card-body mx-auto" style="max-width: 600px;">
                            <h4 class="card-title mt-3 text-center">Login</h4>
                            <p class="divider-text">
                                <!-- /login?error=true -->
                            <div th:if="${#request.getParameter('error') == 'true'}" style="color:red;margin:10px 0px;">

                                Login Failed!!!<br/>
                                Reason :
                                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">

                    </span>

                            </div>

                            <span class="bg-light"></span>
                            </p>
                            <form class="col-md-12" th:action="@{/j_spring_security_check}" method="post">
                                <div class="form-group input-group">


                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                        </div>
                                        <input name="email" class="form-control" placeholder="Email address"
                                               type="email">
                                    </div> <!-- form-group// -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                        <input name="password" class="form-control" placeholder="Password"
                                               type="password">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <p class="text-center"> Haven't account? <a th:href="@{/register}">Register</a>
                                        </p>
                                    </div>
                                </div>
                            </form>

                            <p class="divider-text">
                                <span class="bg-light"></span>
                            </p>

                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="_footer"></footer>
</div>
<div th:include="_scripts"></div>


</body>
</html>