<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head"></head>
<body>

<div class="site-loader"></div>
<div class="site-wrap">
    <div th:replace="/_top-nav"></div>

    <div class="site-blocks-cover inner-page-cover overlay"
         th:style="'background:url(/images/property/' + ${property.mainImage[0].filename} + ${property.mainImage[0].extension} + ');'"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-md-10">
                    <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Property Details of</span>
                    <h1 class="mb-2" th:text="${property.address} + ' ' + ${property.city}"></h1>
                    <p class="mb-5"><strong class="h2 text-success font-weight-bold"  th:text="${property.price} + ${property.currencyCode}"></strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section site-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div>
                        <div class="slide-one-item home-slider owl-carousel">
                            <div th:each="img : ${property.mainImage}"><img th:src="'/images/property/' + ${img.filename} + ${img.extension}" alt="Image" class="img-fluid"></div>
                        </div>
                    </div>
                    <div class="bg-white property-body border-bottom border-left border-right">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <strong class="text-success h1 mb-3"  th:text="${property.price} + ${property.currencyCode}">$1,000,500</strong>
                            </div>
                            <div class="col-md-6">
                                <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
                                    <li>
                                        <span class="property-specs">Beds</span>
                                        <span class="property-specs-number" th:text="${property.bedroomCnt}"></span>

                                    </li>
                                    <li>
                                        <span class="property-specs">Baths</span>
                                        <span class="property-specs-number" th:text="${property.bathroomCnt}"></span>

                                    </li>
                                    <li>
                                        <span class="property-specs">SQ FT</span>
                                        <span class="property-specs-number" th:text="${property.area}"></span>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                                <span class="d-inline-block text-black mb-0 caption-text">Type</span>
                                <strong class="d-block" th:text="${property.propertyType}">Condo</strong>
                            </div>
                            <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                                <span class="d-inline-block text-black mb-0 caption-text">Offer Type</span>
                                <strong class="d-block" th:text="${property.propertyAction}"></strong>
                            </div>
                            <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                                <span class="d-inline-block text-black mb-0 caption-text">Price/Sqft</span>
                                <strong class="d-block" th:text="${property.price / property.area} + ${property.currencyCode}"></strong>
                            </div>
                        </div>
                        <h2 class="h4 text-black">More Info</h2>
                        <p th:text="${property.description}"></p>


                        <div class="row no-gutters mt-5">
                            <div class="col-12">
                                <h2 class="h4 text-black mb-3">Gallery</h2>
                            </div>
                            <div th:each="img : ${property.mainImage}" class="col-sm-6 col-md-4 col-lg-3">
                                <a th:href="'/images/property/' + ${img.filename} + ${img.extension}" class="image-popup gal-item">
                                    <img th:src="'/images/property/' + ${img.filename} + ${img.extension}"
                                                                                             th:alt="Image + ${property.address}"
                                                                                             class="img-fluid"></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="bg-white widget border rounded">

                        <h3 class="h4 text-black widget-title mb-3">Contact Agent</h3>
                        <form action="" class="form-contact-agent">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" id="submit" class="btn btn-primary" value="Send Message">
                            </div>
                        </form>
                    </div>



                </div>

            </div>
        </div>
    </div>

</div>
    <div th:include="_scripts"></div>


</body>
</html>