<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head"></head>
<body>

<div class="site-loader"></div>
<div class="site-wrap">
    <div th:replace="/_top-nav"></div>

    <div class="site-section site-section-sm bg-info ">
        <div class="site-section site-section-sm bg-info ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="card bg-light">
                        <article class="card-body mx-auto" style="max-width: 400px;">
                            <h4 class="card-title mt-3 text-center">Create Account</h4>
                            <p class="divider-text">
                                <span class="bg-light"></span>
                            </p>
                            <form th:action="@{/register}" th:object="${user}" method="post">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input th:field="*{firstName}" class="form-control" placeholder="First name"
                                           type="text">
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input th:field="*{lastName}" class="form-control" placeholder="Last name"
                                           type="text">
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                    </div>
                                    <input th:field="*{email}" class="form-control" placeholder="Email address"
                                           type="email">
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                    </div>
                                    <input th:field="*{phone}" class="form-control" placeholder="Phone number"
                                           type="text">
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                                    </div>
                                    <select th:field="*{role}" class="form-control">
                                        <option th:value="'ADMINISTRATOR'" th:text="Administrator"></option>
                                        <option th:value="'AGENT'" th:text="Agent"></option>
                                        <option th:value="'CLIENT'" th:text="Client"></option>
                                    </select>
                                </div> <!-- form-group end.// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>

                                    <input th:field="*{password}" class="form-control" placeholder="Create password"
                                           type="password">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <p class="text-center"> Have an account? <a th:href="@{/login}">Log In</a></p>
                                </div>
                            </form>

                            <p class="divider-text">
                                <span class="bg-light"></span>
                            </p>

                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="_footer"></footer>
</div>
<div th:include="_scripts"></div>


</body>
</html>